@font-face {
    font-family: "icons";
    src: url("icons.eot?7edc61a5fdf49e87b2cbc18442f2747f#iefix") format("embedded-opentype"),
url("icons.woff2?7edc61a5fdf49e87b2cbc18442f2747f") format("woff2"),
url("icons.woff?7edc61a5fdf49e87b2cbc18442f2747f") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-appapeh:before {
    content: "\f101";
}
.icon-download:before {
    content: "\f102";
}
.icon-face:before {
    content: "\f103";
}
.icon-fence:before {
    content: "\f104";
}
.icon-kanban:before {
    content: "\f105";
}
.icon-rotate-clockwise:before {
    content: "\f106";
}
.icon-trash-bin:before {
    content: "\f107";
}
.icon-worker:before {
    content: "\f108";
}
